html{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content-form{
    width: 800px;
    height: 402px;
    background-image: url('../image/bg-repeat.jpg');
    display: flex;
    align-items: center;
}
.container .content-form .texto-chamada{
    width: 302px;
    height: 111px;
    margin-left: 50px;
}

.container .content-form .texto-chamada-titulo{
    color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 11px;
}

.container .content-form  .texto-chamada-detalhe{
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.container .content-form .form{
    width: 340px;
    height: 378px;
    margin-left: 60px;
    background-color: #fff;
    padding: 20px 20px;
}

.container .content-form .form .input-box{
    width: 100%;
    margin-bottom: 10px;
}

.container .content-form .form .input-box label{
    display: flex;
    flex-direction: column;
}

.container .content-form .form .input-box label .username,
.container .content-form .form .input-box label .usermail,
.container .content-form .form .input-box label .userphone,
.container .content-form .form .input-box label .usermessage
{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 9px 8px;
    border: 1px solid black;
}

.container .content-form .form .input-box label .usermessage{
    resize: none;
    height: 80px;
    border: 1px solid black;
}


.container .content-form .form label .send{
    width: 100%;
    height: 41px;
    background-color: #3CCC87;
    border: 2px solid #3CCC87;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.container .content-form .form label p{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Validação inputs */

.container .content-form .form .input-box label .vazio{
    border: 2px solid red;
}

.container .content-form .form .input-box label .preenchido{
    border: 2px solid green;
}

.container .content-form .form .input-box label .required{
    opacity: 1;
}

.container .content-form .form .input-box label span{
    opacity: 0;
    font-size: 12px;
    color: red;
    margin-left: 5px;
}








